<div class="cb-section">
  <div class="cb-container">
    <h1>Connect <%= @space.name %> to Slack</h1>
  </div>
</div>

<div class="cb-section">
  <div class="cb-container">
    <div class="grid grid--gutters--huge grid--full tablet-grid--1of2">
      <div class="grid-cell">
        <div class="form-block form-block--wide">
          <p>In order to connect Cobot to Slack, please <a href="http://slack.com" target="_blank">create a Slack account</a> first.</p>
          <%= form_for [@space, @team] do |f| %>
            <p>
              <%= f.label :name, 'Name' %>
              <%= f.text_field :name, required: true, class: 'input--stretch' %><br>
            </p>
            <p>
              <%= f.label :slack_token, 'Slack Team Token' %>
              <%= f.text_field :slack_token, required: true, class: 'input--stretch' %><br>
              <span class="muted">
                You can find your token on
                <a href="http://api.slack.com/web#authentication" target="_blank">api.slack.com/web</a>.
              </span>
            </p>
            <p>
              <%= f.label :slack_url, 'Slack Team URL' %><br>
              http://<%= f.text_field :slack_url, type: 'text', required: true, pattern: '[a-z0-9-]+',
                class: '',
                placeholder: @space.subdomain %>.slack.com<br>
            </p>
            <p>
              <%= f.check_box :invite_existing_members %>
              <%= f.label :invite_existing_members, 'Invite existing members' %>
            </p>
            <p>
              <%= f.check_box :remove_canceled_members %>
              <%= f.label :remove_canceled_members, 'Remove canceled members <strong>(only works with a paid Slack account)</strong>'.html_safe %>
            </p>
            <p><%= f.submit value: 'Add Team', class: 'btn btn--blue btn--full btn--stretch' %></p>
          <% end %>
        </div>
        <p><%= link_to 'back', :spaces %></p>
      </div>
    </div>
  </div>
</div>
