<div class="cb-section">
  <div class="cb-container">
    <h1><%= @space.name %></h1>
  </div>
</div>

<div class="cb-section">
  <div class="cb-container">

    <% if @space.teams.any? %>
      <ul>
        <% @space.teams.each do |team| %>
          <li>
            <p class="f--clear">
              <%= team.name %>
              <%= link_to 'Remove', [@space, team], method: :delete,
                class: 'btn btn-small f--right',
                  data: {confirm: 'Are you sure you want to stop adding Cobot members to this team?'} %>
            </p>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>This space has no Slack teams set up yet.</p>
    <% end %>
    <p><%= link_to 'Add Team', [:new, @space, :team], class: 'btn btn--blue' %></p>
    <p><%= link_to 'back', :spaces %></p>
  </div>
</div>
