<div class="cb-section">
  <div class="cb-container">
    <h1><%= @space.name %></h1>

    <% if @space.teams.any? %>
      <ul class="admin-list">
        <% @space.teams.each do |team| %>
          <li class="admin-item">
            <div class="admin-item__title">
              <%= team.name %>
            </div>
            <div class="admin-item__controls">
              <%= link_to 'Remove', [@space, team], method: :delete,
                class: 'btn btn--plain btn--small btn--primary btn_x',
                  data: {confirm: 'Are you sure you want to stop adding Cobot members to this team?'} %>

            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>This space has no Slack teams set up yet.</p>
    <% end %>
    <p><%= link_to 'Add Team', [:new, @space, :team], class: 'btn btn--blue' %></p>
    <p><%= link_to 'back', :spaces %></p>
  </div>
</div>
