<!DOCTYPE html>
<html>
<head>
  <title>Cobot Slack</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="shortcut icon" type="image/x-icon" href="<%= image_path 'cobot_assets/favicon.ico' %>" />
  <link rel="icon" type="image/ico" href="<%= image_path 'cobot_assets/favicon.ico' %>" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% [:notice, :success, :failure].each do |flash_type| %>
    <% if flash[flash_type] %>
      <div id="flash" class="cb-top-notice <%= flash_type %>">
        <div class="cb-container">
          <p><%== flash[flash_type] %></p>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if @show_header %>
    <div class="cb-section cb-section--top-bar">
      <div class="cb-container mw-none pt0 pb0 cf">
        <div class="nav__logo">
          <%= link_to image_tag('cobot_assets/cobot-logo.svg'), root_url, class: 'logo__cobot-brand mr1' %>
          <%= link_to image_tag('slack.svg'), root_url, class: 'integration-logo__badge'%>
        </div>
        <div class="fr relative">
          <nav class="dib">
            <a class="nav-link" href="/sign_in">Setup</a>
            <a class="nav-link" href="https://cobot.me/support">Support</a>
            <a class="btn btn--smaller btn--primary ml2" href="https://cobot.me">Back to Cobot</a>
          </nav>
        </div>
      </div>
    </div>
  <% end %>

  <div class="cb-site-main">
    <%= yield %>
  </div>

    <%= javascript_include_tag 'application' %>
</body>
</html>
