<!DOCTYPE html>
<html>
<head>
  <title>Cobot Slack</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% [:notice, :success, :failure].each do |flash_type| %>
    <% if flash[flash_type] %>
      <div id="flash" class="cb-top-notice <%= flash_type %>">
        <div class="cb-container">
          <p><%== flash[flash_type] %></p>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="cb-container">
    <%= yield %>
  </div>
</body>
</html>
